<nav class="footer">

    <div class="logo">
        <a href="{{path('main')}}"><img src="{{asset('images/image_style/logo2.png')}}" alt=" image_logo_the-blog"> </a>  
        <a href="{{path('main')}}">The-blog </a>
      </div>
    <div class="mentions">

        <p>Mentions légales</p>
    </div>
</nav>