{% extends 'base.html.twig' %}

{% block title %}Rénitialisation mdp{% endblock %}

{% block body %}

<section class="restpass">
{{form_start(resetPassword)}}
<h1>Rénitialisation de MDP</h1>
{{form_row(resetPassword.password)}}
<button type="submit" class="button">Envoyer</button>
{{form_end(resetPassword)}}


</section>
{% endblock %}