{% extends 'base.html.twig' %}

{% block title %}Rénitialisation mdp{% endblock %}

{% block body %}

{# 
{{form_start(resetPassword)}}
<h1>Rénitialisation de MDP</h1>
{{form_row(resetPassword)}}
<button type="submit" class="button">Enovyer</button>
{{form_end(resetPassword)}} #}

   {{form(resetPassword)}} 

{% endblock %}