footer{

  .navbar{

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  background-color: rgba(243, 242, 242, 0.694);
  min-height: 100px;
  padding: 10px calc(20px + 7vw);
  width: 100%;

  .logo{
    margin: 0 auto;
    a{
    // @extend #a_logo ;
    text-decoration: none;
    color: $black;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;

     }
    }

    .ul1{

    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    margin: 0 auto;
    row-gap: 20px;
    

    li{

    margin: 0 10px ;
    // min-width: 165px;

    a{
      position: relative; 
     text-decoration: none;
     color: $black;
     padding: 10px  20px ;
     font-size: 0.9rem;
     transition: 0.3s;
 
     &:hover,&.active{
       text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       color:#899D78;
       
      }
     span{
 
       font-size: 1.1rem;
       display: inline-block;
       position: absolute;
       top: 11px;
       left: -3px; 
 
       }
      }
   
     }

   }




  }
}