.navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(243, 242, 242, 0.694);
    color: white;
    padding: 10px 150px;
    width: 100%;
    box-shadow: 0 -20px 10px -20px rgba(177, 177, 177, 0.628) inset;
   


    .logo{

       
     
       a{
      text-decoration: none;
      color: $black;
      font-weight: bold;
      font-style: italic;
      font-size: 1.5rem;

       }
        
    }
    
    ul{

    list-style: none;
    color: inherit;
    display: flex;
    align-items: center;
   .li_search{
    margin-right: 20px;
    border-right: 1px solid gray;
   }
    a{
     position: relative; 
    text-decoration: none;
    color: $black;
    padding: 10px  20px ;
    font-size: 0.9rem;
    &.active{

      font-weight: 700;
      text-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      color:#899D78;
      
    }
    span{

      font-size: 1.1rem;
      display: inline-block;
      position: absolute;
      top: 11px;
      left: -3px; 
      
     
    }



    }
   
    }
    
    .ul2{
      min-width: 450px;
    }
    .ul1{
     li{
      padding: 0 10px;
     }

    }
    .cats{
      display: none;
    }
    .burg{
      width: 20px;
      height: 20px;
      background: $black;
      display: none;
    }

    }