.profile {

    display: flex;
    min-height: 100vh;
    height: auto;
    aside{

        width:300px;
        background: $greenhigh;
        color:white;
        ul{

        li{
            display: block;
            text-align: center;
            padding: 20px 0;
            transition: 0.3 all;
            &:hover{

                background: $greenlight;
                color: $black;
            }

        }
        }
    }

.main{
 
    flex-grow: 1;
    @extend %centeritem;
    height: 100%;
   .container_profil{

    height: 70%;
    width: 70%;
    h1,h2,h3,h4{
        text-align: center;
        margin: 10px auto;

    }
    .carts{
        a{
            text-decoration: none;
            color: inherit;
           }
        margin: 50px auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .links{
          margin: 20px auto;
          text-align: center;
           
        }
      
    }
   .comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   .comment {
    min-width:300px;
    max-width:400px ;
    margin: 5px; 
    justify-items: left;

    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5px;
    background: rgb(223, 221, 221);
    p{
        margin: 10px auto;
        text-align: center;
        font-size: 0.7rem;
        color: rgb(110, 109, 109);
        span{
            font-weight: bold;
             color: black;
        }

    }
    .links{
        margin: 5px auto;
        text-align: center;
         color: inherit;
         a{
            text-decoration: none;
            color: inherit;
           }
      }
   }


   }
   }
}

}