.profile {

    display: flex;
    height: auto;
    aside{

        width:300px;
        background: $greenhigh;
        color:white;
        ul{

        li{
            display: block;
            text-align: center;
            padding: 20px 0;
            transition: 0.3 all;
            &:hover{

                background: $greenlight;
                color: $black;
            }

        }
        }
    }

.main{
 
    flex-grow: 1;
    @extend %centeritem;
   .container_profil{

    height: 70%;
    width: 70%;
    h1,h2,h3,h4{
        text-align: center;
        margin: 10px auto;

    }
    .carts{
        a{
            text-decoration: none;
            color: inherit;
           }
        margin: 50px auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .links{
          margin: 20px auto;
          text-align: center;
            a{
                text-decoration: none;
                color: inherit;
               }
        }
      
    }
   
   }
}

}