::-webkit-scrollbar {
    width: 8px;
    
}
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background:$greenhigh; 
    border-radius: 10px; 
   
    transition: 0.3s;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:$greenlight;
  }

  