@import '_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

@import '_variables.scss';
@import '_scrollbar.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    background:white;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    // overflow: hidden;
      
}
.overhidden{
    overflow: hidden;
}
pre{

    width: 100%;
    height: 50px;
    code {
        width: 100%;
       display: block;
        font-family: Consolas, Monaco, 'Andale Mono', monospace;
        font-size: 14px;
        background-color: #f4f4f4;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #ccc;
      }
}



%centeritem{

    display: flex;
    justify-content: center;
    align-items: center;
}
%cart,.cart{
    display: block;
    text-decoration: none;
    color: black;
    min-width:300px;
    width: calc(400px + 1vw);
   
    max-height: 600px;
   
    overflow: hidden;
   
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // border-radius: 15px;
    &:hover{
        img{
        transform: scale(1.05);
        }
        .body_cart{
            background:$greenlight;
        }
    }
     
    .img{
       height: 40%;
       width: 100%;
       margin-bottom: 20px;
       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
       border-radius: 10px;
       overflow: hidden;
       img{

           width: 100%;
           height: 100%;
           
           transition: 0.3s;

       }
      }

     .body_cart{
       padding: 10px 5px;
       padding: 10px 12px; 
       height: 55%;
       border-radius: 0 0 10px 10px;
       overflow: hidden;
       transition: 0.3s;
       .autor{
           display: flex;
           margin: 5px 0 10px;
           align-items: center;
       
        .image{
            width: 35px;
            height: 35px;
            min-width: 35px;
            min-height: 35px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 5px;
            img{
              display: block;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
           
        }

        h4{
            
            font-size: 14px;  
            font-weight: 600;
            flex-grow: 1;
           
            
            
           
           }  
        h5{
            font-size: 14px;  
            font-weight: 600;
            min-width: 110px;
            flex: flex-end;
            // flex-shrink: 3;
            color: $greenhigh;
            span{
                font-size: 13px;
            }
        }
         }
         h3{
            font-size: 1rem;  
            font-weight: 700; 

         }
      h3,P{
       text-align: justify;
       margin: 10px 0 10px;
       line-height: 30px;

      }
      h6{
        color: $greenhigh;
        font-weight: 600;
        font-size: 14px;  
        display: inline-block;
        padding: 5px 8px;
        border-radius: 5px;
        background: rgb(220 237 220);  
        margin: 5px auto 10px;
      }

     }



}

%btn,.btn{

      display: flex;
       justify-content: center;
       align-items: center;   
       background: $greenhigh;
       text-decoration: none;
       border-radius: 25px;
       padding: calc(10px + 0.3vw) calc(8px + 0.6vw);
       color: white;  
       font-size:calc(0.5rem + 0.4vw) ;
       font-weight: 600;
       margin: 50px auto 0;
       width: calc(8rem + 3.5vw);
       transition: background-color 0.3s, box-shadow 0.3s ;
        &:hover{
            background: $greenlight;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        } 
}
%form,form{
     
    padding: 50px 10px;
    width: 90%;
    margin:50px auto;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


    @media screen and (min-width:700px) {
        
        width: 60%;
        padding: 50px 10px;
        padding: 50px 50px;
        max-width:700px ;

    }
     p{
        color: $greenhigh;
        font-weight: 600;
        margin: 10px auto 5px;
     }
    div{

        margin: 10px auto;
        label{

            display: block;
            color:$greenhigh;
            font-weight: 600;
            margin: 10px auto 5px;

        }

        input,textarea,#editor, select{
            background: $greenlight2;
            width: 100%;
            outline: none;
            line-height: 2;
            border-radius: 5px;
            border: none;
            font-weight: 600;
            transition: 0.3 all;
         &:focus{
     
          box-shadow: $greenlight 0px 3px 8px;
         }

        }

     }
     button{

        @extend %btn;
        border: none;
        
       }
       .login_forgot{

        color: inherit;
        display: inline-block;
        margin: 10px auto 5px;
        transition:all 0.3s;
        &:hover{

            text-decoration: none;
            color: $greenhigh;
        }
       }
}


form[name='search_post']{

      height: 100%;
      width: 180px;
      height: 25px;
      padding: 0;
      margin: 0;
      padding: 0;
        border: none;
      box-shadow: none;
        background: rgba(243, 242, 242, 0.694);
   
        #search_post{
           display: flex;

           width: 100%;
           margin: 0;
          align-items: center;
           div{

            margin: 0 1px;
            input{
                padding: 3px 8px;
                font-size: 0.7rem;
                font-weight: 300;
               background: rgba(243, 242, 242, 0.694);

            }
           }
        }
    
        button{
        
            width: 40px;
            height: 28px;
            border-radius: 5px;
            margin: 0;
            border: none;
            background: rgba(243, 242, 242, 0.694);
            color: rgba(243, 242, 242, 0.694);
            &::before{
                font-family: 'Material Icons';

                content: "\e8b6";
                display: block;
                margin-left: 5px;

                font-size: 20px;
                font-weight: 300;
                color: rgb(124, 122, 122);

            }
           
       
           } 
    
    
}
.pagination{
    margin: 20px auto 50px;
    text-align: center;
    // display: flex;
    
    // justify-content: space-around;
    .page,.current{

        display: none;
    }
    .next,.previous{

        display: inline-block;
        padding: 5px 0 3px;
        margin: 0 20px;
        background: $greenhigh;
        border-radius: 30px;
        border: none;
       
        transition:  0.3s;
        &:hover{
            background:$greenlight;
      
        }

        a{
            display: flex;
            
            text-decoration: none;
            color: transparent;
            padding:3px 30px 3px 35px;
            &::before{
                font-family: 'Material Icons';
                content: "\e5e1";
                color: white;
                font-weight: 300;
                font-size: 1.2rem;
            }
        }
    }
    .last,.first{

        display: inline-block;
        padding: 5px 0 3px;
        margin: 0 20px;

        background: $greenhigh;
        border-radius: 30px;
        border: none;
        color: $greenhigh;
        transition:  0.3s;
        &:hover{
            background:$greenlight;
      
        }
        

        a{
            text-decoration: none;
            color: transparent;

            padding:3px 22px 3px 35px;
            &::before{
                font-family: 'Material Icons';
                content: "\e5dd";
                color: white;
                font-weight: 500;
                font-size: 1.5rem;

            }
        }
       
    }
    .previous a::before{
        content: "\e5e0";

    }
    .first a::before{
        
        content: "\e5dc";

    }
}
    

aside{

    width:300px;
    background: $greenhigh;
    color:white;
    ul{

    li{
        display: block;
        text-align: center;
        padding: 20px 0;
        transition: 0.3 all;
        &:hover{

            background: $greenlight;
            color: $black;
        }

    }
    }
}
.flash{
    width: 70%; 
    height: 50px;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    
  }
  .success{
    background: $greenlight;
    border:1px solid $greenhigh;
    color: $greenhigh;
    p{
        font-size: calc(0.8rem + 0.5vw)
    }

  }
  .alert{
    background: #d8c3c2;
    border:1px solid #58181f;
    color:  #58181f;
    p{
        font-size: calc(0.8rem + 0.5vw)
    }

  }

.restpass{

    height: 100vh;
}
 .login{
    min-height: 100vh;
 }

 pre{

    width: 90%;
    height: auto;
    margin: 10px auto;
    code {
        width: 100%;
       display: block;
        font-family: Consolas, Monaco, 'Andale Mono', monospace;
        font-size: 14px;
        background-color: #f4f4f4;
        padding: 10px 20px;

        border-radius: 3px;
        border: 1px solid #ccc;
      }
}
.filters{

display: flex;
justify-content: center;

@media screen and (max-width:450px) {

    display: block;
    width: 60%;
    margin: 0 auto;
}
    .div_select{

        position: relative;
        width: 200px;
        margin: 0px 0px 30px;
        box-shadow: none;
         padding: 0;
        label{
    
            font-size: 1rem;
            margin-bottom: 8px;
            font-weight: 600;
            display: inline;
    
            
        }
        select{
            
            background-color: $white;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            font-size: 1rem;
            // width: 100%;
            &:focus-visible{
                box-shadow: $greenhigh 0px 3px 8px;
                
                 outline: none !important; 
    
            }
    
        
        }
    }
}

figure{

    img{

        width: 100%;
        height: 80%;
    }
}

@import '_navbar.scss';
@import '_main.scss';
@import '_form.scss';
@import '_articles.scss';
@import '_detail_article.scss';
@import '_categories.scss';
@import '_profile.scss';
@import '_admin.scss';
@import '_footer.scss';

