{% extends 'base.html.twig' %}

{% block title %}Hello CommentsController!{% endblock %}

{% block body %}

{% for comment in comments %}
   
     <ul>

        <li><p>{{comment.content}}</p></li>
     </ul>
    
{% endfor %}
{% endblock %}
